{extend name="public/base" /}

{block name="content"}
    <div class="con-right" >
        <div style="font-size:15px;padding:35px 0;color:#636363">
            <p>來自pisces的Jiang Xiaofan</p>
        </div>
        <div>
            <p>毕业于浙江理工大学科技与艺术学院，电子信息工程专业，人送外号“痴焊”</p>
            <p>拿过最牛逼的奖是电子设计大赛省二等奖，熟悉单片机</p>
            <p><br></p>
            <p>兴趣广泛，有ps、摄影、看书、爬山、徒步、电影、动漫、数码、做自己的网站等等</p>
            <p>自学web、php编程，喜欢简单舒服的网站，喜欢捣鼓新奇的玩意</p>
            <p><br></p>
            <!--<p>客观评价，慢热型男生，比较文静，有自己的想法，喜欢安静的环境，好相处</p>
            <p>其实内心喜欢坐过山车(向往刺激新鲜的事物)</p>-->
        </div>
        <div style="font-size:15px;padding:55px 0 15px 0;color:#636363" >
            <p>聯繫方式：</p>
        </div>
        <div class="lianxi">
            <ul>
                <li>QQ：749212498</li>
                <li>weixin：749212498</li>
                <li>email：<a href="mailto:tianxianyuyu@sina.cn" target="_blank">tianxianyuyu@sina.cn</a></li>
                <li>個人博客：<a href="http://shuangdeyu.oschina.io/" target="_blank">XiaoFan's Blog</a></li>
				<li>GitHub：<a href="https://github.com/shuangdeyu" target="_blank">shuangdeyu</a></li>
            </ul>
        </div>
    </div>
{/block}
