{extend name="public/base" /}

{block name="style-bootstrap-css"}
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
{/block}

{block name="content"}
    <div class="con-right con-article-img">
        {volist name="list" id="vo"}
            <div style="font-size:15px;padding:35px 0 10px 0;color:#636363">
                {if condition="$vo.link neq ''"}
                    <p><a href="{$vo.link}" target="_blank">
                        <strong>{$vo.name}</strong></a></p>
                    {else /} <p><strong>{$vo.name}</strong></p>
                {/if}
            </div>
            <div style="padding-bottom:25px;border-bottom:1px solid #ededed">
                {$vo.content}
            </div>
        {/volist}
        {$list->render()}
    </div>
{/block}

{block name="js-code"}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdn.quilljs.com/1.0.0/quill.min.js"></script>
{/block}
