{extend name="public/base" /}

{block name="css"}
<link href="__STATIC__/quill/dracula.min.css" rel="stylesheet">
<link href="__STATIC__/quill/quill.snow.css" rel="stylesheet">

<style>
    .ql-container.ql-snow { border: none; }
</style>
{/block}

{block name="content"}
    <div class="con-right con-article-img">
        {volist name="list" id="vo"}
            <div style="font-size:15px;padding:35px 0 10px 0;color:#636363">
                {if condition="$vo.link neq ''"}
                    <p><a href="{$vo.link}" target="_blank">
                        <strong>{$vo.name}</strong></a></p>
                    {else /} <p><strong>{$vo.name}</strong></p>
                {/if}
            </div>
            <div style="padding-bottom:25px;border-bottom:1px solid #ededed">
                {$vo.content}
            </div>
        {/volist}
        {$list->render()}
    </div>
{/block}

