{extend name="public/base" /}

{block name="style-bootstrap-css"}
    <style type="text/css">
        #back-to-top {
            position: fixed;
            bottom: 50px;
            right: 0px;
        }
        #back-to-top a span {
            background: #9c9c9c;
            border-radius: 6px;
            display: block;
            height: 30px;
            width: 30px;
            background: #9c9c9c url(__IMG__/arrow-up.png) no-repeat center center;
            background-size: 14px;
            margin-bottom: 5px;
            -moz-transition: background 0.3s;
            -webkit-transition: background 0.3s;
            -o-transition: background 0.3s;
            transition: background 0.3s;
        }
    </style>

    <link type="text/css" rel="stylesheet" href="__STATIC__/editor.md/css/editormd.preview.css">
{/block}

{block name="content"}
    <div class="con-right con-article-img">
        <div style="font-size:25px;padding:35px 0 10px 0;color:#636363">
            {$con.title}
        </div>
        <div style="font-size:15px;padding:05px 0 10px 0;color:#636363">
            {$con.time}
        </div>

        {if ($con.is_markdown eq 1)}
            <div id='schemeDetail'>
                <textarea style='display:none;'>{$con.content}</textarea>
            </div>
        {else /}
            <div style="padding-bottom:15px;">
                {$con.content}
            </div>
        {/if}

        <!-- 返回顶部 -->
        <p id="back-to-top"><a href="#top"><span></span></a></p>

        <!-- JiaThis Button BEGIN -->
        <!--<div class="jiathis_style">
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v3.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
            <a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>-->
        <!-- JiaThis Button END -->

        <div style="padding-bottom:55px;border-bottom:1px solid #ededed">

        </div>

        <!-- UY BEGIN -->
        <!--<div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2126657"></script>-->
        <!-- UY END -->

        <!-- 评论 -->
        <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
        <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
        <div id="comment"></div>
        <script>
            new Valine({
                el: '#comment' ,
                notify:false,
                verify:true,
                appId: 'XJKG1rh3bYXGPHnGggtibpne-gzGzoHsz',
                appKey: 'wnc94gNwwR62fiYSRLFAqCzp',
                placeholder: 'hi，留个脚印吧',
                path:window.location.href,
                avatar:'wavatar',
                pageSize:15,
            });
        </script>
        <!-- 评论 -->

    </div>
{/block}

{block name="js-code"}
<script src="__STATIC__/editor.md/editormd.js"></script>
<script src="__STATIC__/editor.md/lib/marked.min.js"></script>
<script src="__STATIC__/editor.md/lib/prettify.min.js"></script>
<script src="__STATIC__/editor.md/lib/raphael.min.js"></script>
<script src="__STATIC__/editor.md/lib/underscore.min.js"></script>
<script src="__STATIC__/editor.md/lib/sequence-diagram.min.js"></script>
<script src="__STATIC__/editor.md/lib/flowchart.min.js"></script>
<script src="__STATIC__/editor.md/lib/jquery.flowchart.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("span a").click(function(){
                $(this).parent().next().slideToggle();
                $(this).parent().prevAll("ul").slideUp("slow");
                $(this).parent().next().nextAll("ul").slideUp("slow");
                return false;
            });
        });

        $(document).ready(function() {
            //首先将#back-to-top隐藏
            $("#back-to-top").hide();
            //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
            $(function() {
                $(window).scroll(function() {
                    if ($(window).scrollTop() > 100) {
                        $("#back-to-top").fadeIn(1500);
                    } else {
                        $("#back-to-top").fadeOut(1500);
                    }
                });
                //当点击跳转链接后，回到页面顶部位置
                $("#back-to-top").click(function() {
                    $('body,html').animate({
                            scrollTop: 0
                        },
                        1000);
                    return false;
                });
            });
        });

        /* markdown解析 */
        var testEditormdView;
        testEditormdView = editormd.markdownToHTML("schemeDetail", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            tocm            : true,
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true   // 默认不解析
        });
    </script>
{/block}

