{extend name="public/base" /}

{block name="style-bootstrap-css"}
    <!--{load href="__CSS__/bootstrap.min.css" /}-->
    <style type="text/css">
        /*样式1*/
        /*.thumbnail{
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            margin-bottom: 25px;
            width: 85%;
        }
        .thumbnail .caption{
            text-align: center;
            font-size: 1.1em;
            color: #8b8b8b;
            padding: 15px 0;
        }
	    .thumbnail:hover{
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }*/

        /*样式2*/
        .col-movie { clear: both; }
        .thumbnail {
            min-height: 120px;
            max-height: 150px;
            padding: 5px;
            border: 0;
            display: flex;
            margin-bottom: 10px;
            box-shadow: none !important;
        }
        .thumbnail img { float: left; width: 200px !important; height: 100%; }
        .thumbnail .caption { float: left; height: 100%; width: calc(100% - 210px); padding-left: 10px; }
        .thumbnail .caption span { display: block; }
        .thumbnail .caption .title {
            height: 30px;
            font: 14px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
            color: #475164;
            font-weight: 600;
        }
        .thumbnail .caption .content {
            max-height: calc(100% - 30px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #5e616d;
            font-size: 12px;
        }
        .thumbnail:hover{
            /*border-left: 2px solid #00adb5;*/
            border-radius: 0 !important;
            background-color: #f1f0ed;
        }

        /*搜索框*/
        .movie-search { padding: 5px;width: 900px;position: fixed;top: 0; }
        .movie-search input {
            width: calc(100% - 27px);
            border: 1px solid #ccc;
            border-radius: 2px;
            color: #000;
            font-family: 'Opan Sans',sans-serif;
            font-size: 1em;
            height: 35px;
            padding: 0 10px;
            transition: background 0.3s ease-in-out;
        }
        .movie-search input:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }
        .movie-card { margin-top: 35px; }
    </style>
{/block}

{block name="content"}
    <div class="con-right">
        <div class="movie-search">
            <input id="goSearch" value="{$search_str}" placeholder="搜索" />
        </div>
        <div class="movie-card row">
            {volist name="list" id="vo"}
                <div class="col-md-4 col-movie">
                    <div class="thumbnail">
                        <a href="{:url('movie/content','mid='.$vo.id)}">
                            {if ($vo.cover)}
                                <img class="lazy" data-original="{$vo.cover}" alt="...">
                            {else /}
                                <img class="lazy" data-original="http://qiniucdn.shuangdeyu.com/default_article.jpg" alt="...">
                            {/if}
                            <div class="caption">
                                <span class="title">{$vo.title}</span>
                                <span class="content"><xmp>{$vo.content}</xmp></span>
                            </div>
                        </a>
                    </div>
                </div>
            {/volist}
        </div>
        {$list->render()}
    </div>
{/block}

{block name="style-bootstrap-cjs"}
    <!--{load href="__JS__/bootstrap.min.js" /}-->
{/block}

{block name="js-code"}
{load href="__JS__/lazy-load.js" /}<!-- 懒加载 -->
<script>
    $(document).ready(function(){
        $("span a").click(function(){
            $(this).parent().next().slideToggle();
            $(this).parent().prevAll("ul").slideUp("slow");
            $(this).parent().next().nextAll("ul").slideUp("slow");
            return false;
        });

        $('#goSearch').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                var se = $('#goSearch').val();
                if ("{$_SERVER['QUERY_STRING']}" != "") {
                    window.location.href = "http://{$_SERVER['HTTP_HOST']}{$_SERVER['PHP_SELF']}?{$_SERVER['QUERY_STRING']}&search=" + se;
                } else {
                    window.location.href = "http://{$_SERVER['HTTP_HOST']}{$_SERVER['PHP_SELF']}?search=" + se;
                }
            }
        });
    });

    $(function() {
        $("img.lazy").lazyload({
            effect : "fadeIn"
        });
    });
</script>
{/block}

