{extend name="public/admin" /}

{block name="header"}
{/block}

{block name="menu"}
{/block}

{block name="content"}
<div class="pd-20">
    <div style="font-size:15px;padding:35px 0 10px 0;color:#636363">
        <p><strong>{$movie.title}</strong></p>
        <p>{$movie.time}</p>
    </div>
    <div style="font-size:15px;padding:0px 0 10px 0;color:#636363">
        <img src="{$movie.cover}" width="100%" />
    </div>
    <div style="padding-bottom:25px;border-bottom:1px solid #ededed">
        {$movie.content}
    </div>
</div>
{/block}