{extend name="public/admin" /}

{block name="header"}
{/block}

{block name="menu"}
{/block}

{block name="content"}
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" action="{:url('index/admin/weibo_save')}" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder=""  name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder=""  name="link">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="articleContent" name="content" style="width:740px;height:500px;"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                        <button class="btn btn-default radius" type="reset">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>
{/block}

{block name="js_code"}
{load href="__KED__/kindeditor.js" /}
{load href="__KED__/lang/zh_CN.js" /}
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#articleContent');
    });
</script>
{/block}