{extend name="public/adminlte" /}

{block name="content"}
<div class="right_col" role="main">
    <div class="">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="pull-left">
                        <h2>评论管理</h2>
                    </div>
                    <div class="pull-right">
                        <a href="comment?type=0" class="btn btn-dark btn-sm">未读</a>
                        <a href="comment?type=1" class="btn btn-success btn-sm">已读</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action table-bordered">
                            <thead>
                            <tr class="headings">
                                <th class="column-title" style="width: 150px;">昵称</th>
                                <th class="column-title">内容</th>
                                <th class="column-title" style="width: 200px;">原文</th>
                                <th class="column-title" style="width: 200px;">链接</th>
                                <th class="column-title" style="width: 150px;">操作</th>
                            </tr>
                            </thead>

                            <tbody id="commentList">
                            <!--<tr class="even pointer">-->
                            <!--<td >1</td>-->
                            <!--<td >1</td>-->
                            <!--<td >1</td>-->
                            <!--<td >1</td>-->
                            <!--<td >-->
                            <!--<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 已读 </a>-->
                            <!--<a onclick="set_id(this, '1')" href="#" class="btn btn-danger btn-xs"-->
                            <!--data-toggle="modal" data-target=".modal-weibo-del">-->
                            <!--<i class="fa fa-trash-o"></i> 删除-->
                            <!--</a>-->
                            <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>

                </div>
                <input type="hidden" id="readType" value="{$type}">
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade bs-example-modal-sm modal-weibo-del" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">操作</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>确认删除此条记录？</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="delete_row()">确认</button>
                    </div>

                </div>
            </div>
        </div>
        <span id="WeiBoId" type="hidden"></span>
        <span id="WeiBoObj" type="hidden"></span>
        <!-- /modal -->
    </div>
</div>
{/block}

{block name="js_code"}
<script>
    // 获取评论数据
    $(function () {
        var type = $("#readType").val();
        var commentList = $("#commentList");
        if (type == 0) {
            var storage = window.localStorage;
            var local_comment = storage.getItem("comment_list");
            if (local_comment) {
                var arr_comment = JSON.parse(local_comment);
                commentList.empty();
                for (var i = 0; i < arr_comment.length; i++) {
                    commentList.append('<tr class="even pointer">' +
                        '                   <td >' + arr_comment[i]['nick'] + '</td>' +
                        '                   <td >' + arr_comment[i]['comment'] + '</td>' +
                        '                   <td >' + arr_comment[i]['url'] + '</td>' +
                        '                   <td >' + arr_comment[i]['link'] + '</td>' +
                        '                   <td >' +
                        '                       <a href="#" class="btn btn-info btn-xs" onclick="read_comment(this, \'' + arr_comment[i]['id'] + '\')">' +
                        '                               <i class="fa fa-pencil"></i> 已读 </a>' +
                        '                       <a onclick="set_id(this, ' + arr_comment[i]['id'] + ')" href="#" class="btn btn-danger btn-xs"' +
                        '                               data-toggle="modal" data-target=".modal-weibo-del">' +
                        '                               <i class="fa fa-trash-o"></i> 删除' +
                        '                       </a>' +
                        '                   </td>' +
                        '                 </tr>');
                }
            }
        } else {
            $.ajax({
                type: "POST",
                url: "{:url('index/adminlte/getCommentList')}",
                dataType: "json",
                data: {type: 1},
                success: function (res) {
                    if (res.data.length > 0) {
                        for (var i = 0; i < res.data.length; i++) {
                            commentList.append('<tr class="even pointer">' +
                                '                   <td >' + res.data[i]['nick'] + '</td>' +
                                '                   <td >' + res.data[i]['comment'] + '</td>' +
                                '                   <td >' + res.data[i]['url'] + '</td>' +
                                '                   <td >' + res.data[i]['link'] + '</td>' +
                                '                   <td >' +
                                '                       <a onclick="set_id(this, ' + res.data[i]['id'] + ')" href="#" class="btn btn-danger btn-xs"' +
                                '                               data-toggle="modal" data-target=".modal-weibo-del">' +
                                '                               <i class="fa fa-trash-o"></i> 删除' +
                                '                       </a>' +
                                '                   </td>' +
                                '                 </tr>');
                        }
                    }
                },
                error: function (res) {
                    console.log(res);
                }
            });
        }
    });

    // 设置评论已读
    function read_comment(obj, id) {
        $.ajax({
            type: "POST",
            url: "{:url('index/adminlte/readComment')}",
            dataType: "json",
            data: {id: id},
            success: function (res) {
                // console.log(res);
                var storage = window.localStorage;
                var local_comment = storage.getItem("comment_list");
                var arr_comment = JSON.parse(local_comment);
                var tmp = new Array();
                for (var i = 0, j = 0; i < arr_comment.length; i++) {
                    if (arr_comment[i]['id'] != id) {
                        tmp[j] = arr_comment[i];
                    }
                }
                storage.setItem("comment_list", JSON.stringify(tmp));

                $(obj).parent().parent().remove()
            },
            error: function (res) {
                console.log(res);
            }
        });
    }

    // 设置id
    function set_id(obj, id) {
        $("#WeiBoId").val(id);
        $("#WeiBoObj").val(obj);
    }

    // 删除记录
    function delete_row() {
        var id = $("#WeiBoId").val();
        var obj = $("#WeiBoObj").val();
        $(".close").click();
        $.ajax({
            type: 'POST',
            url: "{:url('index/adminlte/deleteComment')}",
            dataType: 'json',
            data: {id: id},
            success: function(data){
                $(obj).parents("tr").remove();
                ShowNotice("提示", "删除成功", "success", 1000, false);
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    }
</script>
{/block}