{extend name="public/adminlte" /}

{block name="css"}
<link href="__STATIC__/Gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="__STATIC__/editor.md/css/editormd.preview.css">
<style>
    .article-list-abstract {
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 650px;
    }

    /*table {*/
        /*table-layout: fixed;*/
        /*word-break: break-all;*/
    /*}*/
</style>
{/block}

{block name="sidebar"}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>操作导航</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-coffee"></i> 微博 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('index/adminlte/weibo_show')}">微博</a></li>
                </ul>
            </li>
            <li class="active">
                <a><i class="fa fa-pencil-square"></i> 文章 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: block;">
                    <li class="active current-page"><a href="{:url('index/adminlte/movie_show')}">文章</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-camera"></i> 摄影 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('index/adminlte/photo_show')}">图文</a></li>
                    <li><a href="{:url('index/adminlte/images_show')}">相册</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{/block}

{block name="content"}
<div class="right_col" role="main">
    <div class="">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>文章管理</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div style="margin-bottom: 5px;">
                        <a href="#" class="btn btn-danger btn-sm" onclick="ShowNotice('提示', '暂不可用', 'warning', 1000, false)">
                            <i class="fa fa-trash-o"></i> 批量删除
                        </a>
                        <a href="{:url('index/adminlte/movie_add?m=0')}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加文章 </a>
                        <a href="{:url('index/adminlte/movie_add?m=1')}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加markdown文章 </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action table-bordered">
                            <thead>
                            <tr class="headings">
                                <th style="width: 40px">
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title" style="width: 50px;">id </th>
                                <th class="column-title" >标题 </th>
                                <th class="column-title" style="width: 65%;">内容 </th>
                                <th class="column-title" style="width: 130px;">时间 </th>
                                <th class="column-title" style="width: 130px;">操作 </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">批量操作 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {volist name="$movie" id="vo"}
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td >{$vo.id}</td>
                                <td >
                                    <a href="#" onclick="set_info('{$vo.title}','{$vo.time}','{$vo.cover}','{:urlencode($vo.content)}','{$vo.is_markdown}')"
                                       data-toggle="modal" data-target=".modal-movie-info">{$vo.title}</a>
                                </td>
                                <td ><div class="article-list-abstract">{$vo.content}</div></td>
                                <td >{$vo.time}</td>
                                <td >
                                    <a href="{:url('index/adminlte/movie_edit?id='.$vo.id.'&is_m='.$vo.is_markdown)}" class="btn btn-info btn-xs">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a onclick="set_id(this, '{$vo.id}')" href="#" class="btn btn-danger btn-xs"
                                       data-toggle="modal" data-target=".modal-movie-del">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    {$movie->render()}
                </div>
            </div>
        </div>

        <!-- modal 删除文章 -->
        <div class="modal fade modal-movie-del" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">操作</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>确认删除此条记录？</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="delete_row()">确认</button>
                    </div>

                </div>
            </div>
        </div>
        <span id="WeiBoId" type="hidden"></span>
        <span id="WeiBoObj" type="hidden"></span>
        <!-- /modal -->

        <!-- modal 文章详情 -->
        <div class="modal fade modal-movie-info" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" >预览</h4>
                    </div>
                    <div class="modal-body">
                        <div style="font-size:15px;padding:0 0 10px 0;color:#636363">
                            <h3 id="M-title"></h3>
                            <p id="M-time">e</p>
                        </div>
                        <div style="font-size:15px;padding:0px 0 10px 0;color:#636363">
                            <img id="M-cover" src="" width="100%"/>
                        </div>
                        <div style="padding-bottom:25px;border-bottom:1px solid #ededed" id="M-content">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /modal -->

    </div>
</div>
{/block}

{block name="js"}
<script src="__STATIC__/Gentelella/vendors/iCheck/icheck.min.js"></script>
<script src="__STATIC__/editor.md/editormd.js"></script>
<script src="__STATIC__/editor.md/lib/marked.min.js"></script>
<script src="__STATIC__/editor.md/lib/prettify.min.js"></script>
<script src="__STATIC__/editor.md/lib/raphael.min.js"></script>
<script src="__STATIC__/editor.md/lib/underscore.min.js"></script>
<script src="__STATIC__/editor.md/lib/sequence-diagram.min.js"></script>
<script src="__STATIC__/editor.md/lib/flowchart.min.js"></script>
<script src="__STATIC__/editor.md/lib/jquery.flowchart.min.js"></script>
{/block}
{block name="js_code"}
<script>
    $(document).ready(function () {
        var pag = $(".pagination");
        pag.addClass("pagination-sm");
        pag.addClass("no-margin");
        pag.addClass("pull-right");
    });
    // 设置id
    function set_id(obj, id) {
        $("#WeiBoId").val(id);
        $("#WeiBoObj").val(obj);
    }
    // 删除记录
    function delete_row() {
        var id = $("#WeiBoId").val();
        var obj = $("#WeiBoObj").val();
        $(".close").click();
        $.ajax({
            type: 'POST',
            url: "{:url('index/adminlte/movie_del')}",
            dataType: 'json',
            data: {mid: id},
            success: function(data){
                $(obj).parents("tr").remove();
                ShowNotice("提示", "删除成功", "success", 1000, false);
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    }

    // 设置文章信息
    function set_info(title, time, cover, content, is_m) {
        $("#M-title").text(title);
        $("#M-time").text(time);
        $("#M-cover").attr("src",cover);
        if (is_m == 1) {
            $("#M-content").html("<div id='schemeDetail'>\n" +
                "                <textarea style='display:none;'>"+URLDecode(content)+"</textarea>\n" +
                "            </div>");

            /* markdown解析 */
            var testEditormdView;
            testEditormdView = editormd.markdownToHTML("schemeDetail", {
                htmlDecode      : "style,script,iframe",
                tocm            : true,
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true   // 默认不解析
            });
        } else {
            $("#M-content").html(URLDecode(content));
        }
    }
</script>
{/block}