{extend name="public/base" /}

{block name="sidebar"}
    <div class="con-left">
        <div class="head">
            <a href="{:url('index/index')}"><img src="__IMG__/head.jpg" title="蒋小凡"></a>
        </div>
        <div class="name"><a href="{:url('index/card')}"><strong>JIANG XIAOFAN</strong></a></div>
        <div class="about">
            <ul>
                <li>
                    <span><a href="javascript:" >作品集</a></span>
                    <ul class="zuopin-type" style="display:block">
                        <li><a href="{:url('photo/shan')}">摄影</a></li>
                        <li><a href="{:url('photo/net')}">网站</a></li>
                    </ul>
                </li>
                <li><a href="{:url('index/weibo')}">微博</a></li>
                <li><a href="{:url('movie/index')}">文章</a></li>
                <li><a href="{:url('index/card')}">关于我</a></li>
            </ul>
        </div>
    </div>
{/block}

{block name="content"}
    <div class="con-right">
        <div class="con-nav">
            <a href="{:url('photo/shan')}"><span>山</span></a>
            <a href="{:url('photo/ren')}"><span class="active">人</span></a>
            <a href="{:url('photo/xian')}"><span>仙</span></a>
            <a href="{:url('photo/view')}"><span>赏</span></a>
        </div>
        <div id="imageContainer">
            {volist name="$img" id="img"}
                <img src="{$img.pic_url}" title="点击切换">
            {/volist}
        </div>
        <div>
            {$con.content}
        </div>
        <p style="margin-top:55px;"></p>
    </div>
{/block}

{block name="js-code"}
    <script>
        $(document).ready(function(){
            $("span a").click(function(){
                $(this).parent().next().slideToggle();
                $(this).parent().prevAll("ul").slideUp("slow");
                $(this).parent().next().nextAll("ul").slideUp("slow");
                return false;
            });
        });

        var imageObject = {
            clickSwap : function(obj) {
                obj.click(function() {
                    var activeImage = $(this).children('img.active');
                    activeImage.removeClass('active');
                    if (activeImage.next().length > 0) {
                        activeImage.next().addClass('active');
                    } else {
                        $(this).children('img:first-child').addClass('active');
                    }
                    return false;
                });
            }
        };
        $(function() {
            imageObject.clickSwap($('#imageContainer'));
        });
    </script>
{/block}
