<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="蒋小凡" />
    <meta name="Copyright" content="蒋小凡" />
    <meta name="description" content="蒋小凡的主页" />
    <meta name="keywords" content="个人主页 蒋小凡" />
    <title>Jiang XiaoFan</title>

    <link rel="Bookmark" href="__IMG__/favicon.ico" >
    <link rel="Shortcut Icon" href="__IMG__/favicon.ico" />

    {block name="style-bootstrap-css"}{/block}

    {load href="__CSS__/style.css" /}
    <!--{load href="__CSS__/bootstrap.min.css" /}-->
    {load href="__CSS__/newstyle.css" /}

    <script type="text/javascript">
        //判断客户端是PC还是移动端
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            //window.location.href="style2.html";
        } else {
            //
        }
    </script>

</head>

<body>
<div class="con-main">
    <!-- 导航 -->
    {block name="sidebar"}
    <div class="con-left">
        <div class="head">
            <a href="{:url('index/index')}"><img src="__IMG__/head.jpg" title="蒋小凡"></a>
        </div>
        <div class="name"><a href="{:url('index/card')}"><strong>JIANG XIAOFAN</strong></a></div>
        <div class="about">
            <ul>
                <li>
                    <span><a href="javascript:" >作品集</a></span>
                    <ul class="zuopin-type">
                        <li><a href="{:url('photo/shan')}">摄影</a></li>
                        <li><a href="{:url('photo/net')}">网站</a></li>
                    </ul>
                </li>
                <li><a href="{:url('index/weibo')}">微博</a></li>
                <li><a href="{:url('movie/index')}">文章</a></li>
                <li><a href="{:url('index/card')}">关于我</a></li>
            </ul>
        </div>
    </div>
    {/block}

    <!-- 内容 -->
    {block name="content"}{/block}

    {block name="style-bootstrap-js"}{/block}
</div>

{load href="__JS__/jquery-2.0.0.min.js" /}
{block name="js-code"}
<script>
    $(document).ready(function(){
        $("span a").click(function(){
            $(this).parent().next().slideToggle();
            $(this).parent().prevAll("ul").slideUp("slow");
            $(this).parent().next().nextAll("ul").slideUp("slow");
            return false;
        });
    });
</script>
{/block}
</body>

</html>
