{extend name="public/adminlte" /}

{block name="sidebar"}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="__STATIC__/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>xiao fan</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">操作导航</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-coffee"></i> <span>微博</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="{:url('index/adminlte/weibo_show')}"><i class="fa fa-circle-o"></i>微博</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil-square"></i> <span>文章</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('index/adminlte/movie_show')}"><i class="fa fa-circle-o"></i>文章</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-camera"></i> <span>摄影</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('index/admin/photo_show')}"><i class="fa fa-circle-o"></i>图文</a></li>
                    <li><a href="{:url('index/admin/images_show')}"><i class="fa fa-circle-o"></i>相册</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
{/block}

{block name="content"}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            微博
            <small>列表</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bordered Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 20px;">id</th>
                                <th style="width: 150px;">标题</th>
                                <th>内容</th>
                                <th style="width: 150px;">链接</th>
                                <th style="width: 120px;">操作</th>
                            </tr>
                            {volist name="$weibo" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.content}</td>
                                <td>{$vo.link}</td>
                                <td>
                                    <a onClick="set_id(this,'{$vo.id}')" href="javascript:" data-toggle="modal" data-target="#modal-delete" class="badge bg-red">删除</a>
                                    <a onClick="weibo_edit('编辑微博','weibo_info.html?id={$vo.id}','10001')" href="javascript:" title="删除" class="badge bg-blue">编辑</a>
                                </td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        {$weibo->render()}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">操作</h4>
                </div>
                <div class="modal-body">
                    <p>是否删除此条记录？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="delete_row()">确认</button>
                </div>
            </div>
        </div>
        <input id="WeiBoId" type="hidden">0</input>
        <span id="WeiBoObj" type="hidden"></span>
        <!-- /.modal-dialog -->
    </div>
</div>
{/block}

{block name="js-code"}
<script>
    $(document).ready(function () {
        var pag = $(".pagination");
        pag.addClass("pagination-sm");
        pag.addClass("no-margin");
        pag.addClass("pull-right");
    });
    // 设置id
    function set_id(obj, id) {
        $("#WeiBoId").val(id);
        $("#WeiBoObj").val(obj);
    }
    // 删除记录
    function delete_row() {
        var id = $("#WeiBoId").val();
        var obj = $("#WeiBoObj").val();
        $(".close").click();
        $.ajax({
            type: 'POST',
            url: "{:url('index/adminlte/weibo_del')}",
            dataType: 'json',
            data: {wid: id},
            success: function(data){
                $(obj).parents("tr").remove();
                $(".close").click();
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    }
</script>
{/block}